/*标准*/
html {
	color: #000;
	background: #FFF;
}


body {
	font-family: Arial,"Microsoft YaHei","Microsoft Yahei","微软雅黑",微软雅黑,"SimHei","黑体",黑体, sans-serif;
	margin: 0;
	padding: 0;
}

.main {
    margin-top:50px;
}
.alert-main {
    display: none;
}